html 
  head
    body     
      form(action="/products" method="post")
        label= "name: "
        input(type="text" name="name" id="name")
        label= "price: "
        input(type="number" name="price" id="price")
        label= "image: " 
        input(type="text" name="image" id="image")
        button(type="submit")="Send" 
      form
      div
        a(href="/products") 
          button="Product List"