html 
    body
    if (data.length > 0)
      table
        thead
          tr
            th="Name"
            th="Price"
            th="Image"
        tbody
          each prod in data
            tr
              td= prod.name
              td= prod.price
              td(scope="row")
                img(src= prod.image)
      a(href="/") 
        button="Home"
    else
      div="Oops, there's nothing here."